.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-left: 20px;
  align-self: center;
}

.select-container {
  text-align: center;
  margin-top: 25px;
}

.select-label {
  margin-right: 10px;
  font-family: auto;
}

.generating-value {
  margin-bottom: 35px;
  margin-top: 15px;
  width: 97%;
  height: 20px;
  border-radius: 5px;
  padding-left: 5px;
}

.heading-text {
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}